@import "tailwindcss";
@import '@fontsource/parisienne';

@theme {
  --font-parisienne: 'Parisienne', cursive;
}

body {
  background: linear-gradient(135deg, #f9f3e6 30%, #f8e3c5 100%);
  background-blend-mode: multiply;
}

/* Simulación de textura con sombras */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.05) 100%);
  mix-blend-mode: overlay;
  pointer-events: none;
}
