@import "tailwindcss";
@import '@fontsource/parisienne';
@import '@fontsource-variable/cinzel';

@theme {
  --font-parisienne: 'Parisienne', cursive;
  --font-cinzel: "Cinzel Variable", serif;

  --color-wine: #8B2E2E;
  --color-dorado: #C79A50;
}


body {
  background: linear-gradient(135deg, #f9f3e6 30%, #f8e3c5 100%);
  background-blend-mode: multiply;
  overflow-x: hidden;
}

/* Simulación de textura con sombras */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.05) 100%);
  mix-blend-mode: overlay;
  pointer-events: none;
}
