---
import { Image } from "astro:assets";
import Floral from "@assets/watercolor-floral.jpg"
import Flower from "@assets/Flower.jpg"
---

<footer class="relative flex flex-row bottom-0">
  <Image src={Floral}	alt="Flower floral" class="absolute z-10 md:w-[360px] w-[200px] mix-blend-multiply bottom-0 left-0 rotate-180" />

  <p class="mx-auto italic pt-6">&copy; 2025 Desarrollado por Franco Matinez </p>
  
  <Image src={Flower}	alt="Flower decoration" class="absolute z-10 w-[160px] mix-blend-multiply right-0 hidden md:block rotate-180 bottom-0" />
</footer>