---
import { Image } from "astro:assets";
import Flower from "@assets/Flower.jpg"
import Floral from "@assets/watercolor-floral.jpg"

const timeStampEnd = 1740250800000;

---
<style>
	.fecha {
		font-family: "Cinzel Variable", serif;
	}
	.invitar {
		font-size: clamp(14px, 4vw, 20px);
	}
	h1, h2 {
		font-size: clamp(35px, 5vw, 48px);
	}
</style>

<section class="relative max-w-screen p-2.5">
	<header class="h-[80px]">
		<Image src={Flower}	alt="Flower decoration" class="absolute z-10 w-[160px] mix-blend-multiply top-0 left-0 hidden md:block" />
		<p class="invitar text-center italic py-10">Tenemos el gusto de Invitarte en este dia tan importante de Nuestras Vidas</p>
		<Image src={Floral}	alt="Flower floral" class="absolute z-10 sm:w-[280px] md:w-[360px] w-[200px] mix-blend-multiply top-[-20px] right-0" />

	</header>
	<div class="flex justify-center align-middle h-fit flex-col mt-[55px]">
		<h1 class="font-parisienne text-5xl text-center text-dorado">Nuestra Boda</h1>
		<h2 class="font-parisienne text-5xl text-center text-wine mt-4 md:mt-0">Joel Vargas <span class="block md:inline-block pt-3 pb-6">y</span> Esther Quiroga</h2>
 
		<div class="mt-[50px] max-w-lg mb-auto mx-auto pb-4">
			<p class="italic text-lg text-center px-3.5">"Así que no son ya más dos, sino una sola carne; por tanto, lo que Dios juntó, no lo separe el hombre."</p>
			<p class="italic text-maroon text-center"><span class="font-semibold">Mateo</span>; 19:6</p>
		</div>

		<p class="text-center">Te invitamos a Nuestra Ceremonia que se</p>
		<p class="text-center">celebra el:</p>
		
	</div>
	<footer>
		

		<div class="mt-8 text-xl flex flex-col items-center justify-center">
			<p class="fecha relative"><span class="dia relative">Sábado</span> <span class="text-4xl text-cinzel font-light align-middle px-2">22</span> <span class="mes">Febrero</span> <span class="hidden md:inline-block">|</span> <span class="block md:inline-block text-center">A las <strong>07:00pm</strong></span></p>

			<div data-date={timeStampEnd} class="flex flex-row uppercase gap-x-2 font-semibold mt-5">

				<div class="flex flex-col justify-center items-center gap-y-2 w-16">
					<span data-days class="text-4xl tabular-nums">00</span>
					<span class="text-xs text-center">Dias</span>
				</div>

				<div class="flex flex-col justify-center items-center gap-y-2 w-16">
					<span data-hours class="text-4xl tabular-nums">00</span>
					<span class="text-xs text-center">Horas</span>
				</div>

				<div class="flex flex-col justify-center items-center gap-y-2 w-16">
					<span data-minutes class="text-4xl tabular-nums">00</span>
					<span class="text-xs text-center">Minutos</span>
				</div>
			
				<div class="flex flex-col justify-center items-center gap-y-2 w-16">
					<span data-seconds class="text-4xl tabular-nums">00</span>
					<span class="text-xs text-center">Segundos</span>
				</div>

			</div>
			
		</div>

		

	</footer>
</section>

<script>
	const SECOND = 1000;
	const MINUTES = SECOND * 60;
	const HOURS = MINUTES * 60;
	const DAYS = HOURS * 24;
	
	function init() {
		const $countdown = document.querySelector("[data-date]");

		if(!$countdown) return;

		const $days = $countdown.querySelector("[data-days]");
		const $hours = $countdown.querySelector("[data-hours]");
		const $minutes = $countdown.querySelector("[data-minutes]");
		const $seconds = $countdown.querySelector("[data-seconds]");

		const timeStamp = $countdown.getAttribute("data-date");
		if(!timeStamp) return;

		const date = new Date(+timeStamp).getTime();
		const formatTime = (time: number) => {
			return Math.floor(time).toString().padStart(2, "0")
		};

		function updateCountdown() {
			let now = Date.now();
			let diff = date - now;

			if($days instanceof HTMLElement) {
				$days.innerText = formatTime(diff / DAYS)
			};

			if($hours instanceof HTMLElement) {
				$hours.innerText = formatTime((diff % DAYS) / HOURS);
			}

			if($minutes instanceof HTMLElement) {
				$minutes.innerText = formatTime((diff % HOURS) / MINUTES);
			}

			if($seconds instanceof HTMLElement) {
				$seconds.innerText = formatTime((diff % MINUTES) / SECOND);
			}
		};

		setInterval(updateCountdown, SECOND);
	}
	init()
</script>