---
import { Image } from "astro:assets";
import pareja from "@assets/EsteryJoel.jpg";

---
<style>
  .lugar {
    font-size: clamp(20px, 4vw, 36px);
  }
  /* .hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
} */

.heart {
    position: absolute;
    color: red;
    font-size: 20px;
    opacity: 0.7;
    animation: float 5s linear forwards;
    z-index: 20;
}

@keyframes float {
    0% { transform: translateY(0) scale(0.5); opacity: 1; }
    100% { transform: translateY(-100vh) scale(1.2); opacity: 0; }
}

</style>

<div class="hearts-container fixed top-0 left-0 w-screen pointer-events-none h-screen"></div>
<section class="characters w-screen flex flex-col justify-center items-center mt-[60px] pt-[60px] bg-inherit pb-5">

  <h3 class="text-wine font-parisienne text-4xl mb-4">¡Te Esperamos!</h3>

  <Image src={pareja} alt="Matrimonio de Ester y Joel" class="w-[340px] h-[420px] rounded-[5px] object-cover" id="pareja" />

  <p class="lugar font-parisienne mt-5 text-wine">Mandoza, San Carlos, Coronel Videla </p>
  <a href="https://maps.app.goo.gl/4YcABiLF8f8f6WgZ6?g_st=aw" target="_blank" rel="noopener noreferrer">
    
    <button class="flex flex-row w-max mt-6 px-6 py-3 bg-dorado opacity-70 cursor-pointer rounded-lg shadow-md hover:bg-dorado transition text-wine hover:text-white font-bold z-10">Ver Ubicación <span class="hidden md:inline pr-2.5 pl-1">en Google Maps</span> 

      <svg class="align-middle " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13.3 20.275q-.3-.3-.3-.7t.3-.7L16.175 16H7q-.825 0-1.412-.587T5 14V5q0-.425.288-.712T6 4t.713.288T7 5v9h9.175l-2.9-2.9q-.3-.3-.288-.7t.288-.7q.3-.3.7-.312t.7.287L19.3 14.3q.15.15.212.325t.063.375t-.063.375t-.212.325l-4.575 4.575q-.3.3-.712.3t-.713-.3"/></svg>
    </button>
  </a>

</section>

<script>

document.addEventListener("DOMContentLoaded", function() {
    const $pareja = document.getElementById("pareja");
    const heartsContainer = document.querySelector(".hearts-container"); // Se selecciona correctamente el contenedor

    if ($pareja instanceof HTMLElement ) {
        $pareja.addEventListener("click", function() {
            for (let i = 0; i < 50; i++) {
                setTimeout(createHeart, i * 100);
            }
        });

        function createHeart() {
            const heart = document.createElement("div");
            heart.classList.add("heart");
            heart.innerHTML = "❤️";
            
            // Generar posición aleatoria
            const screenWidth = document.documentElement.clientWidth;
            
            // Generar posición aleatoria asegurando que esté dentro de los límites
            const randomLeft = Math.floor(Math.random() * screenWidth) + "px";
            heart.style.left = randomLeft;
            // heart.style.animationDuration = (Math.random() * 2 + 3) + "s";
            heart.style.bottom = "0px"
            heart.style.fontSize = (Math.random() * 20 + 10) + "px";

            // Agregar al contenedor
            if(heartsContainer instanceof HTMLElement) heartsContainer.appendChild(heart);

            // Eliminar después de la animación
            setTimeout(() => {
                heart.remove();
            }, 5000);
        }
    }
});

</script>