---
import './src/styles/global.css'
import '@fontsource/parisienne';
import '@fontsource-variable/cinzel'

---

<!doctype html>
<html lang="es">
	<link>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/iglesia.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Invitación a la Boda</title>
	</head>
	<body>
		<slot />
	</body>
</html>